<h1>{{title}}</h1>

<form>
    <label for="username">Username: </label>
    <input id="username"></input><br>
    <label for="password">Password: </label>
    <input id="password"></input><br>
    <label for="confirm">Confirm Password: </label>
    <input id="confirm"></input>
    <button type="submit">Register</button>
</form>