<h2>{{page}}</h2>

<form>
    <label for="username">Username: </label>
    <input></input><br/>
    <label for="password">Password: </label>
    <input></input><br/>
    <button type="submit">Login</button>
    <a href="./signup">Don't have an account? Sign up here</a>
</form>