<h2>{{page}}</h2>
<!-- Don't display this page if your logged in -->

<a href="/account">My Account</a>
<a href="/inbox">Inbox</a>

<form>
    <label for="username">Username: </label>
    <input></input><br/>
    <label for="password">Password: </label>
    <input></input><br/>
    <button type="submit">Login</button>
    <a href="/signup">Sign Up</a>
</form>