<h2>{{page}}</h2>
{{#if message }}
    <h4 class="alert alert-danger mt-4">{{message}}</h4>
{{/if}}

<form action="login">
    <label for="username">Username: </label>
    <input id="username"></input><br/>
    <label for="password">Password: </label>
    <input id="password" type="password"></input><br/>
    <button type="submit">Login</button>
    <a href="./signup">Don't have an account? Sign up here</a>
</form>