<form>
    <label for="username">Username: </label>
    <input></input><br/>
    <label for="password">Password: </label>
    <input></input><br/>
    <button type="submit">Login</button>
    <a href="../">Sign In</a>
</form>