<form>
    <label for="username">Create a Username: </label>
    <input></input><br/>
    <label for="password">Create a Password: </label>
    <input></input><br/>
    <label for="confirm">Confirm your Password: </label>
    <input></input><br/>
    <button type="submit">Login</button>
    <a href="./">Already have an account? Sign in here.</a>
</form>