<h2>{{page}}</h2>
{{#if message }}
    <h4 class="alert alert-danger mt-4">{{message}}</h4>
{{/if}}

<form action="signup">
    <label for="username">Create a Username: </label>
    <input id="username"></input><br/>
    <label for="password">Create a Password: </label>
    <input id="password" type="password"></input><br/>
    <label for="confirm">Confirm your Password: </label>
    <input id="confirm" type="password"></input><br/>
    <button type="submit">Sign Up</button>
    <a href="./">Already have an account? Sign in here.</a>
</form>