body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0%;
  padding: 0%;
  /* Site Background */
  background-image: url('../images/background.jpeg');
  background-position: center;
  background-repeat: no-repeat;
}

a {
  color: #00B7FF;
}

h1, h2 {
  text-align: center;
  margin-top: 5%;
}

.dontDisplayAsLink {
  text-decoration-line: none;
  color: inherit;
}